/* Reset Styles */
html,
body {
  margin: 0 !important;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 10rem;
}

a {
  color: #000;
}

.nav-link:hover {
  background-color: #ffff00;
}

@-ms-viewport {
  width: device-width;
}

/* Logo */
#brand .logo-link {
  text-decoration: none;
}

/* #brand {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  margin: 2rem;
}

#brand .logo-link {
  display: block;
  background: url('img/#logo.png') no-repeat;
  background-size: 85px;
  width: 85px;
  height: 85px;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-position-y: 5px;
}

#brand .logo-link:hover {
  background-color: #ffff00;
} */

/* Font Sizing */
h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2rem;
}

/* h3 {
  font-size: 2.1rem;
} */

p {
  /* font-size: 16px; */
  font-size: 1.6rem;
  line-height: 1.8;
  margin: 15px 0;
  margin: 1.5rem 0;
}

/* Navigation */
nav {
  width: 100%;
  height: 80px;
  z-index: 1;
}

nav #brand {
  float: left;
  display: block;
  margin-left: 82px;
  line-height: 80px;
  font-weight: bold;
}

nav #brand a {
  transition: all 0.3s ease-out;
}

nav #brand a:hover {
  text-decoration: none;
}

nav #menu {
  float: left;
  right: 80px;
  position: fixed;
}

nav #menu li {
  padding-left: 4rem;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  line-height: 80px;
  position: relative;
  transition: all 0.3s ease-out;
}

nav #menu li span {
  font-weight: 700;
}

nav #menu li a:hover {
  text-decoration: none;
}

/* Content */
#content {
  /* margin-left: 10rem; */
  margin-left: 10%;
  /* margin-right: 5rem; */
  margin-right: 5%;
}

#content #cover {
  position: fixed;
}

#content #cover .title {
  font-size: 10rem;
}

#content #cover .title .hello {
  display: block;
  font-size: 3rem;
  margin: 2rem 0;
}

#content #cover .title .name {
  /* display: block; */
  /* background: #ffff00; */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #ffff00 50%);
  /* color options #ffd0ae #ffff00 */
  font-family: 'Yantramanav', sans-serif;
  line-height: 1;
  padding-top: 0.6rem;
}

/* #content #cover .icons {
  margin: 10px 0 10px;
  margin: 1rem 0 1rem;
} */

#content #cover .icons a {
  display: inline-block;
  width: 20px;
  font-size: 20px;
  font-size: 2rem;
  margin-right: 8px;
  margin-right: 0.8rem;
  text-decoration: none;
}

#content #cover .say-hi {
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #ffff00 50%); */
  font-family: 'Yantramanav', sans-serif;
  line-height: 1;
}

#content #cover .projects {
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #ffff00 50%); */
  font-family: 'Yantramanav', sans-serif;
}

#content #introduction {
  margin-left: 40%;
  margin-right: 5%;
  margin-bottom: 40%;
}

#content #introduction #about-me {
  margin-bottom: 30px;
  margin-bottom: 3rem;
  line-height: 1.8;
}

#content #introduction p.strong {
  font-weight: 700;
}

#content #introduction #project-info {
  margin-top: 5rem;
}

/* Button Styling */
.btn {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #f04d59;
  color: #f04d59;
}

.btn-lrg {
  font-size: 2.4rem;
  width: 100%;
  align-content: center;
}

/* Contact Section */
.contact-section {
  padding-top: 1%;
  padding-right: 23%;
  padding-bottom: 10%;
}

#form {
  position: relative;
  width: 400px;
  margin: 50px auto 100px auto;
}

input {
  font-size: 0.875em;
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #f04d59;
  padding: 10px;
  width: 100%;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea {
  margin: 0px 0;
  background: transparent;
  border: 0px;
  padding: 10px;
  width: 100%;
  height: 250px;
  max-height: 110px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border-bottom: 2px solid #f04d59;
  /* transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; */
}

/* Responsive */
@media (max-width: 1200px) {
  #logo {
    margin: 10px;
    margin: 1rem;
  }

  #content #cover .title {
    font-size: 80px;
    font-size: 8rem;
  }

  #content #cover .title .hello {
    display: block;
    font-size: 2.5rem;
    font-size: 25px;
  }

  #content #introduction {
    margin-left: 50%;
    margin-right: 0;
  }
}

@media (max-width: 912px) {
  body {
    margin: 80px;
    margin: 8rem;
  }
}

@media (max-width: 768px) {
  body {
    margin: 30px;
    margin: 3rem;
  }

  #brand {
    position: initial;
    margin: 10px auto;
    margin: 1rem auto;
  }

  #brand .logo-link {
    margin: 0 auto;
  }

  #content #cover {
    position: initial;
    text-align: center;
  }

  #content #introduction {
    margin: 5rem 0;
    text-align: center;
  }

  #content #cover .icons a {
    width: 25px;
    font-size: 2.5rem;
    margin-right: 1.2rem;
    /* should I have all rem units with px units? */
  }
}
